*{
    box-sizing: border-box;
}



.MainframeCo {
    border-radius: 20px;
    height: 600px;
    width: 300px;
    border: 5px solid black;
    margin-left: 250px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding:0 15px;
    height: 60px;
    border-radius: 3px;
    color: antiquewhite;
}

.leftSection,
.rightSection {
    display: flex;
    align-items: center;
    gap: 11px;
}


.profileImg {
    margin-top: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* makes it a circle */
    object-fit:cover;

}





.date1 ,.date3 , .date2, .date4, .date5 {
    position: sticky;
    border: 1px solid black;
    top: 5px;
    margin-left: 110px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90px;
    height: 15px;
    padding-left: 10px;
    border-radius: 50px;
    background-color: darkgray;
    font: 12px "Fairydisplay";
}
.scrollContainer {
    overflow: auto;
    scrollbar-width: none;
    height: 82%;
    background-image: url(./emoticons.jpg);
    background-size: cover; /* or contain, or specific size */
    background-repeat: no-repeat;
    background-position: center;
}

.right, .left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px ;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;

    max-width: 70%;          /* Let it grow but not too much */
    background-color: darkolivegreen;
    color: antiquewhite;
    /* word-wrap: break-word; */
}

.left {
    background-color: darkgreen;
    margin-left: auto;
    margin-right: 190px;
}

.right {
    margin-left: 190px;
    margin-right: auto;
}


.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 12px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  border-radius: 10px;
  background-color: darkgray;
}

.message {
  flex: 1; /* allows the input to grow */
  margin-right: 10px;
}

.message input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  /* outline: none; */
  font-size: 16px;
}

.emoji {
  display: flex;
  gap: 10px;
  align-items: center;
}

.emoji i {
  font-size: 22px;
  cursor: pointer;
  color: #333;
}

.w{
  margin-left: 140px;
}